section {
  margin-top: 5rem;
}
.tabFocus {
  color: red;
  text-align: center;
  font-size: large;
}

.screenshot {
  padding: 1rem;
  background-color: green;
  border-radius: 12px;
  border: none;
  color: white;
  cursor: pointer;
}

.screenshot:hover {
  background-color: red;
}

.screenshotContainer {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
